In [29]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [30]:
data=pd.read_csv('CAR DETAILS FROM CAR DEKHO (1).csv')

In [31]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [32]:
data.head(6)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner

In [33]:
data.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [34]:
data.shape

(4340, 8)

In [35]:
data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [36]:
data[(data['km_driven']==70000) & (data['seller_type']=='Individual')] [['name','year','selling_price','fuel']]

                            name  year  selling_price    fuel
0                  Maruti 800 AC  2007          60000  Petrol
13                 Maruti 800 AC  2007          60000  Petrol
90        Mahindra XUV500 W8 2WD  2015         750000  Diesel
128       Maruti Ertiga SHVS VDI  2016         800000  Diesel
129    Hyundai Creta 1.6 CRDi SX  2016         840000  Diesel
...                          ...   ...            ...     ...
4224  Toyota Fortuner 2.7 2WD AT  2016        2500000  Petrol
4228     Mahindra XUV500 W10 AWD  2015        1225000  Diesel
4232   Hyundai Santro Xing XG AT  2004         125000  Petrol
4299         Honda City 1.5 V AT  2008         140000  Petrol
4319            Maruti Swift LDI  2012         400000  Diesel

[233 rows x 4 columns]

In [37]:
x=data['km_driven']

In [38]:
x

0        70000
1        50000
2       100000
3        46000
4       141000
         ...
4335     80000
4336     80000
4337     83000
4338     90000
4339     40000
Name: km_driven, Length: 4340, dtype: int64

In [39]:
y=data['selling_price']

In [40]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [43]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [44]:
x_train

66       92000
188      70000
219      54000
2034     24000
835      80000
         ...
1033     58500
3264    110000
1653     22000
2607     70000
2732     62000
Name: km_driven, Length: 3255, dtype: int64

In [45]:
x_test

66       525000
188      650000
219      235000
2034    1250000
835      900000
         ...
1033    1300000
3264     120000
1653     270000
2607     600000
2732     229999
Name: selling_price, Length: 3255, dtype: int64

y_train

In [46]:
y_test

2089     465000
1077    1580000
1495     150000
555     4950000
2615     125000
         ...
249      500000
3540     465000
3247     350000
535      295000
509      600000
Name: selling_price, Length: 1085, dtype: int64

In [47]:
y_train

2089     70070
1077     86000
1495    120000
555      30000
2615     95000
         ...
249      32000
3540     60000
3247     90000
535      21000
509     125531
Name: km_driven, Length: 1085, dtype: int64